body {
    color: #2967db;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .jumbotron {
    background-image: url("../images/bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
    color:rgb(254, 254, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }